body, h1, h2, h3, ul, ol, li, p {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

* {
box-sizing: border-box;
}

a {
text-decoration: none;
}

.container {
width: 1024px;
margin: 0 auto;
}

img {
max-width: 100%;
}

.hero {
	padding: 50px 0 80px;	
}

.content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

h1 {
	font-size: 80px;
	text-align: center;
	margin-bottom: 30px;
}

h2 {
	text-align: center;
	margin-bottom: 30px;
}

.product {
	display: flex;
	justify-content: center;
	align-items: center;	
	margin-bottom: 20px;	
	width: calc(32% - 10px);
	max-height: 200px;	
	background-color: #fff;
	border-radius: 20px;
	transition: .7s;
	padding: 10px;	

}

.product:hover {
	box-shadow: 0 5px 10px #565656;
}

.product__item {
	height: 150px;	
	width: 150px;
	margin-right: 10px;	
}

.product__name {
	margin-bottom: 8px;
}

@media screen and (max-width: 1099px){
	.container {
		width: 730px;	
	}

	h1 {
		font-size: 80px;
	}

	.product {
		width: calc(50% - 10px);
	}
}

@media screen and (max-width: 767px){
	.container {
		width: calc(100vw - 20px);	
	}

	h1 {
		font-size: 50px;
	}
}

@media screen and (max-width: 767px){
	.product {
		width: 100%;
		flex-direction: column;
	}

	h1 {
		font-size: 50px;
	}
}